@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800;900&display=swap");

/* BOILERPLATE CSS */

body {
    margin: 0;
    line-height: 1.5;
    /* background-color: #000000; */
background-image: linear-gradient(to left top, #020630, #03052e, #04032c, #05022a, #050128, #0c0023, #10001f, #12001b, #130014, #11000c, #0b0004, #000000);
}

body,
input,
textarea,
button {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
}

* {
    box-sizing: border-box;
    margin: 0;
}

.logo {
    margin-top: 15px;
}


/* BOILERPLATE CSS ENDS*/



/* PRELOADER CSS*/

.preloader {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(to left top, #020630, #03052e, #04032c, #05022a, #050128, #0c0023, #10001f, #12001b, #130014, #11000c, #0b0004, #000000);
    z-index: 1099;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.6s ease;
}

.preloader.loaded {
    visibility: hidden;
    opacity: 0;
    z-index: -99;
}

.donut {
    width: 5rem;
    height: 5rem;
    margin: 2rem;
    border-radius: 50%;
    border: 0.3rem solid rgba(151, 159, 208, 0.3);
    border-top-color: #3EDBF0;
    animation: 1.5s spin infinite linear;
}

.donut.multi {
    border-bottom-color: #3EDBF0;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

/* Scrollbar Styling */
::-webkit-scrollbar {
    width: 10px;
}
 
::-webkit-scrollbar-track {
    background: #020630;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #fff; 
}


/* PRELOADER CSS ENDS*/


/* HEADER CSS */

.header {
    color: black;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 99;
}

.header.fixed {
    opacity: 75%;
    color: #000;
    position: fixed;
}

.header .brand-name {
    padding: 0 15px;
    margin-left: 50px;
}

.header .brand-name a {
    text-decoration: none;
    font-size: 30px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 2px;
}

.header.fixed .brand-name a {
    color: #ffffff;
}


/* HEADER CSS ENDS*/


/* MENU CSS */

.menu-wrapper {
    opacity: 75%;
    position: fixed;
    top: 0;
    right: -100%;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to left top, #020630, #03052e, #04032c, #05022a, #050128, #0c0023, #10001f, #12001b, #130014, #11000c, #0b0004, #000000);
}

#active:checked~.menu-wrapper {
    right: 0;
}

.menu-btn {
    color: #ffffff;
    position: absolute;
    z-index: 2;
    right: 20px;
    top: 15px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 30px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.menu-btn span,
.menu-btn:before,
.menu-btn:after {
    content: "";
    position: absolute;
    top: calc(50% - 1px);
    left: 30%;
    width: 40%;
    border-bottom: 2px solid #000;
    background-color: #ffffff;
    border-color: #ffffff;
    color: #ffffff;
    transition: transform 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.menu-btn:before {
    transform: translateY(-8px);
    background-color: #ffffff;
    border-color: #ffffff;
    color: #ffffff;
}

.menu-btn:after {
    transform: translateY(8px);
    background-color: #ffffff;
    border-color: #ffffff;
    color: #ffffff;
}

.close {
    z-index: 1;
    width: 100%;
    height: 100%;
    pointer-events: none;
    transition: background 0.6s;
}

#active:checked+.menu-btn span {
    transform: scaleX(0);
    background-color: white;
    border-color: #fff;
    color: #ffffff;
}

#active:checked+.menu-btn:before {
    transform: rotate(45deg);
    border-color: #ffffff;
}

#active:checked+.menu-btn:after {
    transform: rotate(-45deg);
    border-color: #ffffff;
}

.menu-wrapper ul {
    position: absolute;
    top: 60%;
    left: 50%;
    height: 90%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
}

.menu-wrapper ul li {
    list-style: none;
    text-align: center;
    height: 10%;
    margin: 45px 0;
}

.menu-wrapper ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 3em;
    padding: 5px 20px;
    display: inline-flex;
    font-weight: 700;
    transition: 0.5s;
    border-radius: 50px;
}

.menu-wrapper ul:hover li a {
    color: #0002;
}

.menu-wrapper ul li:hover a {
    color: #000;
    background: rgba(255, 255, 255, 1);
}

.menu-wrapper ul li a:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5em;
    color: #fff(0, 0, 0, 0.1);
    border-radius: 50%;
    z-index: -1;
    opacity: 0;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 500px;
    transition: letter-spacing 0.5s, left 0.5s;
}

.menu-wrapper ul li a:hover:before {
    content: attr(data);
    opacity: 1;
    left: 50%;
    letter-spacing: 10px;
    width: 1800px;
    height: 1800px;
}

input[type="checkbox"] {
    display: none;
}

.menu-wrapper ul li:nth-child(6n+1) a:before {
    background:#7C83FD;
}

.menu-wrapper ul li:nth-child(6n+2) a:before {
    background: #FFD371;
}

.menu-wrapper ul li:nth-child(6n+3) a:before {
    background: #00EAD3;
}

.menu-wrapper ul li:nth-child(6n+4) a:before {
    background: #00FAAC;
}


/* MENU CSS ENDS*/


/* HOME SECTION CSS */

.home-section {
    min-height: 85vh;
    background-image: linear-gradient(to left top, #020630, #03052e, #04032c, #05022a, #050128, #0c0023, #10001f, #12001b, #130014, #11000c, #0b0004, #000000);
    background-size: cover;
    background-position: center;
    position: relative;
}

#home-base {
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}

#home-banner {
    font-size: 40px;
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
    color: white;

}

#namaste {
    font-family: "Roboto Slab", serif;
    color: #FC5404;
    font-size: 80px;
}

#name {
    border-radius: 8px;
    border: solid white;
    color: #207DFF;
}

#home-image {
    position: relative;
    height: 350px;
    width: 500px;
    border-radius: 15px;
}

.wrapper {
    font-family: "Roboto Slab", serif;
    margin-top: 50px;
    font-size: 50px;
    transform: translate(0%, -50%);
}

.wrapper .item {
    visibility: hidden;
    display: none;
}

.wrapper>div {
    font-size: 50px;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: flex;
    align-items: flex-end;
    font-weight: bold;
    color: #28DF99;
}

.wrapper>div:after {
    content: "";
    color: #28DF99;
    animation-duration: 350ms;
    animation-name: fade;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

@keyframes fade {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.output {
    font-family: "Roboto Slab", serif;
}


/* Cursor Styling */

.output h1 {
    font-size: 48px;
    text-transform: uppercase;
    font-weight: bold;
    color: #28DF99;
}

.cursor::after {
    content: "";
    /* display:inline-block; */
    margin-left: 3px;
    background-color: white;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    49% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

.intro-content {
    color: #fff;
    text-align: left;
    font-size: 35px;
    margin-left: 70px;
    margin-right: 30px;
}

#front {
    font-family: "Roboto Slab", serif;
    border: solid 2px #3edbf0;
    border-radius: 10px;
    font-weight: 500;
    color: #3edbf0;
}

#comp {
    font-family: "Roboto Slab", serif;
    border: solid 2px #ffc93c;
    border-radius: 10px;
    font-weight: 500;
    color: #ffc93c;
}

#UI {
    font-family: "Roboto Slab", serif;
    border: solid 2px #c6ffc1;
    border-radius: 10px;
    font-weight: 500;
    color: #c6ffc1;
}

.copyright {
    /* border-top:2px solid #fff; */
    padding: 25px 15px;
    text-align: center;
    color: #fff;
    font-size: 18px;
    font-weight: 900;
}




#what {
    margin-top: 35px;
    margin-bottom: 35px;
    font-size: 65px;
    color: #fff;
    text-align: center;
}

#webdev {
    height: 400px;
    width: 400px;
    justify-content: right;
    border-radius: 15px;
}

.grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contwork {
    position: relative;
    margin-top: 75px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.container-content {
    height: 500px;
    width: 500px;
    justify-content:center;
    align-items: center;
    /* padding-left: 50px; */
    display:inline-flexbox;
    color: #fff;
    align-items: center;
    font-size: 40px;
    text-align: center;
}

.container-content h2 {
    color: #3db2ff;
    font-size: 45px;
    font-family: "Raleway", sans-serif;
    text-align: center;
    /* letter-spacing: 3px; */
}

.container-image {
    padding-right: 150px;
}

#gridimg {
    height: 400px;
    width: 600px;
    align-items: center;
    margin-right: 25px;
    border-radius: 15px;
    /* justify-content: space-between; */
}
#gridimgcomp {
    height: 400px;
    width: 400px;
    align-items: center;
    border-radius: 15px;
    margin-right: 75px;
    /* justify-content: space-between; */
}
#gridimgui {
    height: 400px;
    width: 400px;
    margin-right: 75px;
    align-items: center;
    border-radius: 15px;
    /* justify-content: space-between; */
}
.container-content ol li {
    list-style-type: circle;
    padding: 0;
    margin: 0;
    font-size: 30px;
    text-align: left;
}

#webdevhead {
    color: #32E0C4;
    font-family: "Raleway", sans-serif;
}

#compihead {
    color: #FC5404;
    font-family: "Raleway", sans-serif;
}

.work-icon {
    height: 60px;
    width: 60px;
    margin-left: 15px;
    margin-right: 15px;
}


.work-grid {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 15px;
}

.dev-icon {
    margin-top: 10px;
    height: 60px;
    width: 60px;
}



#proj {
    font-size: 50px;
    color: #81ecec;
}
